#heeader {
		background-color:white;
		position:sticky;
		top:0;
		display:flex;
		justify-content:space-between;
		padding-top:10px;
		padding-left:10px;
}

#heeader #Headerright  a{
	 padding-top:100px;
	 margin-top:100px;
	 font-size: 24px;
	 text-decoration:none;
	 color:blue;
}

#heeader #Headerright  a:hover {
		color:red;
		
}


#heeader #Headerright button{
		padding:10px;
		margin:20px;
		background-color:blue;
		color:white;
		border-radius:10px;
		font-size:24px;
		
		
}


#advertiseimage img{
		width:1662px;
}


#footer {
		background-color:black;
		color:white;
		margin-left:-110px;
		padding-left:137px;
		padding-top:20px;
		margin-top:20px;
		display:flex;
		gap:100px;
}

#footer a{
		color:white;
		
}

#footer #first h5{
		font-size:20px;
		text-align:center;
}

#footer #first img{
		width:400px;
		height:100px;
		background-color:white;
}


#footer #second h5{
		font-size:20px;
}

#footer #third h5{
		font-size:20px;
}

#footer #fourth p,h2{
		font-size:20px;
}





#certificate {
		margin-top: 50px;
		margin-top: 50px;
		
}

#newindigilocker {
		margin-left:50px;
		margin-top:50px;
}

#newindigilocker h1{
		text-align:center;
}

#certificate {
		margin-left:50px;
}

#certificate button{
		border:2px solid #ADD8E6;
		margin:25px;
		border-radius:20px;
		padding:10px;
		font-size:30px;
		background-color:white;
}

#Gettingstart #Gettingstartedisquickandeasy h1{
		padding-top:50px;
}

#DocumentWallet {
		display:flex;
		gap:100px;
		background-color:red;
		margin-top:50px;
		background-color:#f7f6fa;
		width:1631px;
		margin-left:0;
		padding:20px;
}

#DocumentWallettoEmpowerCitizens {
		margin-left:100px;
		font-size:20px;
		font-family:verdana;
	
}

#usernumber {
		display:flex;
		justify-content:space-between;
		gap:50px;
		background-color:#d7bcdd;
		border-radius:20px;
		padding:23px;
}

#usernumber #Users button{
		background-color:blue;
		color:white;
		border-radius:20px;
		padding:10px;
		
}

#ministry {
		
		text-align:center;
		
		
	
}

#ministry button{
		background-color:white;
		border:2px solid grey;
		border-radius:20px;
		padding:20px;
		margin:20px;
}

#ministry button:hover{
		background-color:#d7bcdd;
		border:2px solid blue;
		border-radius:30px;
		padding:50px;
		box-shadow: 5px 10px black;
}



#ministry #defenceimage{
	
		height:144px;
		width:144px;
		
}

#ministry button{
		
		margin-right:10px;
		margin-top: 10px;
}

#ministry br{
		display:none;
}


#Gettingstart {
display:flex;
gap:80px;
text-align:center;
}

#Gettingstart #firststep{
		margin-top:60px;
}

#Gettingstart #thirdstep{
		margin-top:60px;
}


#Gettingstart #secondstep{
		margin-top:60px;
}

#Gettingstart #arrowone{
		margin-top:70px;
}

#Gettingstart {
		background-color:#f7f6fa;
		padding-left:60px;
}

#Gettingstart i {
		font-size:50px;
}


#certificate i {
	
		margin:20px;
}


@media(max-width:500px)
{
		#footer {
		
		
		padding-left:0;
		padding-top:1000px;
		margin-top:0px;
		display:flex;
		gap:48px;
}

}